.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.mainTitle {
    font-size: 75px;
    margin: 0;
    font-family: 'Lobster', cursive;
}

.mainTag {
    font-size: 20px;
}

.landingButtons {
    height: 60px;
    width: 120px;
    background-color: white;
    color: #00B2FF;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    margin: 10px;
    box-shadow: 2px 2px 10px 1px black;
}

.landingButton {
    margin-top: 40vh;
}